<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table v-middle product-overview" id="zero_config">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Order ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Quantity</th>
                                <th>Order Price</th>
                                <th>Status</th>
                                <th>User Order ID</th>
                                <th>Vendor ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of ordersList| paginate: { itemsPerPage: limit, currentPage: offset,totalItems: count }; let i = index">
                                <td>{{i+1}}</td>
                                <td (click)="navigateToOrderProfile(data.id)">ORD-{{data.id}}</td>
                                <td>
                                    <img [src]="data.product?.mainImageUrl" alt="Product image" width="80"> </td>
                                <td>{{data.product?.product?.productName}}</td>
                                <td>{{data.product?.product?.brandName}}</td>
                                <td>{{data.quantity}}</td>
                                <td>{{data.orderProductPrice}}</td>
                                <td>{{data.status}}</td>
                                <td>CUST-{{data.userOrder?.id}}</td>
                                <td>VEN-{{data.vendor?.id}}</td>
                            </tr>
                            
                        </tbody>
                        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>